#inicio {
	background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),url("../img/img9.jpg");
	background-size: cover;
	background-position: center center;
	

}
#hamburguesa{
	max-width: 100vh;
	padding: 10px 0;
	margin: auto;
	.titulo-seccion {
		text-align: center;
		font-size: 22px;
		text-transform: uppercase;
		color: $color_1;
		text-decoration: underline;
		text-decoration-color: #e45454;
		text-decoration-thickness: 5px;
	}
	.fila {
		display: flex;
		justify-content: space-between;
		margin: 30px 0;
		.proyecto {
			max-width: 450px;
			border: 1px solid #000;
			margin: 0 10px;
			position: relative;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				filter: grayscale(1);
				object-fit: cover;
				transition: .5s;
			}
			&:hover {
				img {
					filter: grayscale(0);
				}
				.info {
					opacity: 1;
					bottom: 0;
				}
			}
			.info {
				position: absolute;
				left: 0px;
				background-color: $background-color_1;
				color: $color_2;
				width: 100%;
				padding: 10px;
				opacity: 0;
				bottom: -40px;
				transition: .5s;
			}
		}
	}
}
#contacto {
	padding: 100px 15px;
	background-color: $background-color_2;
	.titulo-seccion {
		margin-bottom: 20px;
		text-align: center;
		font-size: 22px;
		text-transform: uppercase;
		color: azure;
		text-decoration: underline;
		text-decoration-color: #d3d3d3;
		text-decoration-thickness: 5px;
	}
	.contenedor-form {
		max-width: 1100px;
		margin: auto;
		.fila {
			margin-bottom: 15px;
		}
		.mitad {
			display: flex;
			justify-content: space-between;
			input {
				width: 48%;
			}
		}
		input {
			padding: 20px;
			border-radius: 20px;
			border: none;
			border: 1px solid #919191;
		}
		textarea {
			padding: 20px;
			border-radius: 20px;
			border: none;
			border: 1px solid #919191;
		}
		.input-full {
			width: 100%;
		}
	}
	.btn-enviar {
		display: block;
		margin: auto;
		cursor: pointer;
		transition: .5s;
		padding: 10px 15px !important;
		&:hover {
			background-color: $background-color_3;
			color: $color_3;
		}
	}
}
