$background-color_1: rgba(0, 0, 0, .8);

@media screen and (max-width: 800px) {
	.redes {
		display: none;
	}
	nav {
		display: none;
	}
	nav.responsive {
		display: block;
		background-color: $background-color_1;
		width: 100%;
		position: absolute;
		top: 48px;
		left: 0;
		padding: 10px 0;
		ul {
			display: block !important;
			text-align: center;
			li {
				margin: 5px 0;
			}
		}
	}
	#icono-nav {
		display: block;
	}
	#inicio {
		.contenido {
			.presentacion {
				h2 {
					font-size: 40px;
				
				}
			}
		}
	}
}
