$color_1: #ff5080;
$color_2: #fff;
$background-color_1: rgba(147, 136, 136, 0.8);$color_1: #ff5080;
$color_2: #fff;
$color_3: #cf9090;
$color_4: #d3d3d3;
$background-color_1: rgba(147, 136, 136, 0.8);
$background-color_5: #9e5050;
$color_1: #ececf3;
$color_2: #ff5080;
$color_3: #fff;
$background-color_1: rgba(0, 0, 0, 0.8);
$background-color_2: #ac2828;
$background-color_3: #ff5080;
$color_2: #ff5080;
$color_3: #565656;
$color_4: #000;
$color_5: #d38585;
$background-color_1: #cf9090;
$background-color_2: #ff5080;
$color_1: #ff5080;
$color_2: #fff;
$color_3: #cf9090;
$color_4: #d3d3d3;
$background-color_1: rgba(147, 136, 136, 0.8);
$background-color_2: #ff5080;
$background-color_3: #d3d3d3;
$background-color_4: #cf9090;
$background-color_5: #9e5050;